<!DOCTYPE html>
{% extends 'store/base.html' %}
{% load static %}

{% block forHead %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
{% endblock %}

{% block content %}
<!DOCTYPE html>
{% load static %}

<div style = "background-color: #00ff00;">
    {% include "store/navbar.html" %}
    <br>
    <br>
    <br>
</div>

            <br>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<section id="content" class="container">
    <!-- Begin .page-heading -->
    <div class="page-heading">
        <div class="media clearfix">
          <div class="media-left pr30">
            <a href="#">
              <img class="media-object mw150" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="...">
            </a>
          </div>
          <div class="media-body va-m">
            <h2 class="media-heading">Michael Halls
              <small> - Profile</small>
            </h2>
            <p class="lead">Lorem ipsum dolor sit amet ctetur adicing elit, sed do eiusmod tempor incididunt</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
          <div class="panel">
            <div class="panel-heading">
              <span class="panel-icon">
                <i class="fa fa-star"></i>
              </span>
              <span class="panel-title"> User Popularity</span>
            </div>
            <div class="panel-body pn">

            </div>
          </div>
          <div class="panel">
            <div class="panel-heading">
              <span class="panel-icon">
              </span>
              <span class="panel-title"> Adress</span>
            </div>
            <div class="panel-body pb5">
             <p class="text-muted"> ...
                <br> ....
              </p>

            </div>
          </div>
          <div class="panel">
            <div class="panel-heading">
              <span class="panel-icon">
              </span>
              <span class="panel-title">E-mail</span>
            </div>
            <div class="panel-body pb5">

              <p class="text-muted">Bonsai,Necklaces
              </p>

              <hr class="short br-lighter">

              <h6>Phone Number</h6>
              <p class="text-muted"> +905...
              </p>

              <hr class="short br-lighter">

              <h6>E-mail</h6>
              <p class="text-muted pb10"> ...@.mail.com
              </p>

            </div>
          </div>
        </div>
        <div class="col-md-8">

          <div class="tab-block">
            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#tab1" data-toggle="tab"> Edit</a>
              </li>
              <li>
                <a href="#tab1" data-toggle="tab"> Orders</a>
              </li>
              <li>
                <a href="#tab1" data-toggle="tab"> My Store</a>
              </li>
            </ul>
            <div class="tab-content p30" style="height: 730px;">
              <div id="tab1" class="tab-pane active">



              </div>
              <div id="tab2" class="tab-pane"></div>
              <div id="tab3" class="tab-pane"></div>
              <div id="tab4" class="tab-pane"></div>
            </div>
          </div>
        </div>
      </div>
  </section>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript"></script>

{% endblock %}
