<!DOCTYPE html>
{% extends 'store/base.html' %}
{% load static %}

{% block forHead %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/checkout.css' %}">
{% endblock %}

{% block content %}

<div style = "background-color: #00ff00;">
    {% include "store/navbar.html" %}
    <br>
    <br>
    <br>
</div>

<div class="form-style-8">
  <h2>CHECKOUT</h2>
  <form>
    <input type="text" name="field1" placeholder="Isim, Soyisim" />
    <input type="tel-num" name="field2" placeholder="Telefon Numarasi" />
    <input type="tutar" name="field3" placeholder="Teklif Tutari" />
	<input type="adres" name="field3" placeholder="Adres Bilgisi" />
    <textarea placeholder="Aciklama" onkeyup="adjust_textarea(this)"></textarea>
    <input type="button" value="TEKLIF ET" />
  </form>
</div>
<br/>
<br/>
<br/>

{% endblock %}
