*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

/* body {
 background-image: url("paper.gif");
 background-color: #cccccc;
} */

body{
	font-family: 'Merriweather', serif;
}

a{
	text-decoration: none;
	color: #555;
}

p{
	color: #555;
}
